header{
    text-align: center;
    color:cornsilk;
    background-color: rgb(3, 45, 3);
    font-family: 'Permanent Marker',cursive;
    padding:1px 0px;
    margin: 0px 290px;
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:rgb(3, 45, 3);
    font-family: 'Permanent Marker',cursive;
}
h2{
    position: relative;
    text-align: center;
    color: rgb(3, 45, 3);
}
h3{
    position: relative;
    text-align: center;
    color:rgb(3, 45, 3);
    
}
#getstarted{
  
    text-align: center;
    color:rgb(3, 45, 3);
    font-family: 'Permanent Marker',cursive;
    border:solid 3px rgb(3, 45, 3);
    margin: 0px 300px;
}
.container {
    width: 80%;
    text-align: center;
    padding-left:85px;
    padding-right: 30px;

}
.next_ques{
    text-align: center;
}
#wrapper{
    border: solid 3px rgb(3, 45, 3);
    background-color: cornsilk;
    margin: 0px 290px;
}
.logo{
    border:solid 3px rgb(3, 45, 3);
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}
audio{
    width:150px;
    height:70px;
}