header{
    text-align: center;
    color:cornsilk;
    background-color: rgb(3, 45, 3);
    font-family: 'Permanent Marker',cursive;
    padding:1px 0px;
    margin: 0px 290px;
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:rgb(3, 45, 3);
    font-family: 'Permanent Marker',cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(3, 45, 3);
}
h2{
    position: relative;
    text-align: center;
    color: rgb(3, 45, 3);
}
h3{
    position: relative;
    color:rgb(3, 45, 3);
    margin-left: 20px;
    text-align: center;
}

button:hover{
    text-align: center;
    margin-left: 50px;
    color: rgb(3, 45, 3);
}

#timer{
    margin-left: 40px;
}
#finalMessage{
    text-align: center;
    margin-left: 40px;
    font-size: 30px;
    color:rgb(204,59,40);
}
#message{
    text-align: center;
    margin-left: 40px;
    font-size: 30px;
    color:rgb(204,59,40);
}
#answerList{
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    color:rgb(3, 45, 3);
}
#getstarted{
    margin-left:80px;
}
#getstarted:hover{
    background-color:rgb(204,59,40);
    padding:5px;
    text-align: center;
    color:rgb(3, 45, 3);
    font-family: 'Permanent Marker',cursive;
    border:solid 3px rgb(3, 45, 3);
    
}
.container {
    width: 80%;
    text-align: center;
    padding-left:50px;
    padding-right: 30px;
    margin-bottom: 15px;
}

#question{
    padding:30px;
    text-align: center;
    margin-right:30px;
}
#wrapper{
    border: solid 3px rgb(3, 45, 3);
    background-color: cornsilk;
    margin: 0px 290px;
}
.logo{
    border:solid 3px rgb(3, 45, 3);
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 60%;
}
#restartGame_button{
    margin-right: 45px;
}
#restartGame_button:hover{
    background-color:rgb(204,59,40);
    padding:5px;
    border:solid 3px rgb(3, 45, 3);
    margin-right: 45px;
}
.thisChoice:hover{
    background-color:rgb(204,59,40);
    padding:5px;
}

audio{
    width:180px;
    height:70px;
}